@use "../../assets/styles/themes" as theme;

/* envoltorio de la tabla */
.tabla_wrapper {
  width: 100%;
  overflow-x: overlay;
  margin-top: 1rem;
}

.table {
  width: 100%;
  border-collapse:collapse;
  font-family: inherit;
}

.table th,
.table td {
  border: none;
  padding: 0.9rem 1rem;
  text-align: left;
  vertical-align: middle;
}

.table thead th {
  background: #34439a; // o tu color corporativo
  color: white;
  font-weight: 600;
  border: none;
  height: 31px;
  font-size: 21px;
}

.table thead th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.table thead th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.table tbody tr {
  border-bottom: 1px solid #f0f0f0;
}

.table tbody tr:nth-child(even) {
  background: transparent;
}

.table_empty {
  padding: 1rem 0;
  color: #666;
}

a {
  color: #0b66ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

// estilos de chips (usar variables CSS desde :root)
.chip_list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.chip {
  display: inline-block;
  //padding: 0.25rem 0.6rem;
  border-radius: 999px;
  background-color: var(--color-fondo-chip);
  color: var(--color-texto-chip);
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.3rem 0.6rem;
}

/* botones de acciones por registro */
.tabla_actions {
  display: flex;
  gap: 0.4rem;
  justify-content: center;
}

.action_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  padding: 0;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: transparent;
  cursor: pointer;
}

.action_btn svg,
.action_btn svg * {
  color: var(--color-botones);
}

.action_btn.view:hover {
  background: rgba(0, 51, 237, 0.089);
}
.action_btn.edit:hover {
  background: rgba(255, 187, 0, 0.12);
}
.action_btn.delete:hover {
  background: rgba(252, 6, 6, 0.086);
}

/* paginador */
.pagination {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem 0;
}
.paginator_button,
.pg_page {
  min-width: 36px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  background: white;
  cursor: pointer;
}

.pg_page.active {
  background: var(--color-botones);
  color: white;
  border-color: var(--color-botones);
}
