@use "sass:map";
@use "./themes" as *;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-fondo: #{map.get($tema-claro, fondo)};
  --color-texto: #{map.get($tema-claro, texto)};
  --color-botones: #{map.get($tema-claro, botones)};
  --color-logos-icons: #{map.get($tema-claro, logos_icons)};

  /* Colors: */
  --logotipo-e-iconos: #1b36c6;
  --unnamed-color-707070: #707070;
  --azul-botones: #384cb4;
  --textos-2: #433e3e;
  --textos: #74726f;
  --fondo-liso: #280362;
  --links: #5f17d5;
  --negro: #000000;
  --blanco: #ffffff;
  --rosa-principal: #ffe8ef;
  --amarillo-principal: #fff3d4;
  --morado-principal: #dfdef4;
  --morado-secundario: #c5bdee;

  /* Font/text values */
  --unnamed-font-family-roboto: Roboto;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-size-15: 15px;
  --unnamed-font-size-18: 18px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-18: 18px;
  --unnamed-line-spacing-21: 21px;
}

body {
  display: flex;
  place-items: center;
  min-height: 100vh;
}

.side_nav_container {
  // LayOut
  top: 123px;
  left: 13px;
  width: 57px;
  height: 946px;
  //UI
  background-color: map.get($colores, "negro");
  border-radius: 10px;
  opacity: 1;
}
.nav_bar_container {
  // LayOut
  top: 123px;
  left: 85px;
  width: 1800px;
  height: 61px;
  // UI
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow:
    inset 0px 3px 10px #0000000d,
    5px 15px 6px #0000000d;
  border-radius: 10px;
  opacity: 1;
}
.bars_menus{
  display: flex;
}
.body_container{
  display: flex;
}


@media (prefers-color-scheme: light) {
  :root {
    background-color: #cc2020;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

button {
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
