@use "sass:map";
@use "./themes" as *;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-fondo: #{map.get($tema-claro, fondo)};
  --color-fondo-sidenav: #{map.get($tema-claro, fondo_sidenav)};
  --color-texto: #{map.get($tema-claro, texto)};
  --color-texto-iconos: #{map.get($tema-claro, texto_iconos)};
  --color-botones: #{map.get($tema-claro, botones)};
  --color-logos-icons: #{map.get($tema-claro, logos_icons)};
  --color-texto-chip: #{map.get($tema-claro, texto_chip)};
  --color-fondo-chip: #{map.get($tema-claro, fondo_chip)};
  --color-dialog-bg: #ffffff;

  /* Colors: */
  --logotipo-e-iconos: #1b36c6;
  --unnamed-color-707070: #707070;
  --azul-botones: #384cb4;
  --textos-2: #433e3e;
  --textos: #74726f;
  --fondo-liso: #280362;
  --links: #5f17d5;
  --negro: #000000;
  --blanco: #ffffff;
  --rosa-principal: #ffe8ef;
  --amarillo-principal: #fff3d4;
  --morado-principal: #dfdef4;
  --morado-secundario: #c5bdee;

  /* Font/text values */
  --unnamed-font-family-roboto: Roboto;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-medium: medium;
  --unnamed-font-size-15: 15px;
  --unnamed-font-size-18: 18px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-line-spacing-18: 18px;
  --unnamed-line-spacing-21: 21px;
}
*{
  font-family: 'Roboto';
}

body {
  display: flex;
  min-height: 100vh;
  background-color: (var(--color-fondo));
}

.icon {
  color: (var(--color-texto));
}

.principal_div {
  display: flex;
  height: 98vh;

  width: 95.6vw;
  flex-direction: column;
}

.side_nav_container {
  color: (var(--color-texto-iconos));
  width: 45px; //200px cuando se agrande
  height: 98vh;
  background-color: (var(--color-fondo-sidenav));
  border-radius: 10px;
  opacity: 1;
}

.bars_menus {
  background-color: #ffffff;
  display: flex;
  width: 96vw;
  height: 9.5vh;
  margin-bottom: 0.1%;
  opacity: 10;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 99%;
  height: 97%;
  margin-left: 1%;

  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 10px;
  box-shadow:
    inset 0px 0.28vh 0.92vh #0000000d,
    0.26vw 0.92vh 0.55vh #0000000d;
}

.search_input {
  display: flex;
  align-items: center;
  gap: 1%;
  padding-left: 2%;
  width: 91.75vw;
  height: 5.65vh;
  margin-top: 0.6%;
  margin-left: 1%;
  background-color: #ffffff;
  box-shadow:
    inset 0px 3px 10px #0000000d,
    5px 15px 6px #0000000d;
  border-radius: 10px;
  opacity: 1;
}

.title_input {
  display: flex;
  align-items: center;
  width: 96%;
  height: 4.65vh;
  gap: 1%;
  margin-top: 1%;
  padding-left: 2%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  background-color: #ffffff;
  box-shadow:
    inset 0px 3px 10px #0000000d,
    5px 15px 6px #0000000d;
  border-radius: 10px;
  opacity: 1;
}
.title_input h2 {
  color: (var(--color-texto));
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  font-size: 30px;
}
.page-section {
  width: 98%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.row_sidenav {
  transition: all 0.1s ease-in-out;
  color: (var(--color-texto-iconos));
  display: flex;
  gap: 1rem;
  margin-left: 16px;
  margin-bottom: 32px;
  white-space: nowrap;
}
.row_sidenav :hover,
.row_head_sideNav:hover {
  color: (var(--color-texto));
  font-size: larger;
}
.row_head_sideNav {
  margin-left: 3%;
  display: flex;
  gap: 1.5vw;
  margin-top: 12px;
  margin-left: 4px;
  margin-bottom: 68.16px;
  font-size: larger;
}
